{% extends "base.html" %}

{% block body %}
<div class='row' id='box'>
    <div class='span6'>
        <h1>faq</h1>

        <h3>Who made DoubleYou?</h3>
        <p>
          DoubleYou was made at the 
          <a href="http://blogs.ischool.berkeley.edu/hackinghealth/?ref=hazelnutapp">
            UC Berkeley’s Digital Health Hackathon - September 21-22, 2012
          </a> by 
          <a href="http://twitter.com/_mattb" target="_blank">Matt Ball</a>,
          <a href="http://www.linkedin.com/pub/kristen-bova/13/909/374" target="_blank">Kristen Bova</a>,
          <a href="http://twitter.com/stchangg" target="_blank">Stephanie Chang</a>,
          <a href="http://twitter.com/jasgarch" target="_blank">Jasdeep Garcha</a>,
          <a href="http://twitter.com/cyrusstoller" target="_blank">Cyrus Stoller</a>, and
          <a href="http://twitter.com/patrick_ye" target="_blank">Patrick Ye</a>.
        </p>

        <h3>Does DoubleYou have a social media presence?</h3>
        <p>
          For sure. You can find us on <a href="http://twitter.com/mydoubleyou" target="_blank">Twitter</a> and
          <a href="http://mydoubleyou.tumblr.com" target="_blank">Tumblr</a>.
        </p>
    </div>
</div>
{% endblock %}
