{% extends "base.html" %}

{% block head %}
<style>
    #box {
        background: rgb(189, 226, 255);
        border-radius: 5px solid blue;
        border-radius: 5px;
        padding-top: 30px;
        margin-top: 10px;
        height: 400px;
    }
</style>
{% endblock %}

{% block body %}
<div class='row' id='box'>
    <div class='span6'>
        <h1>Welcome to the DoubleYou homepage!</h1>
        <br>
        <p>
            Double You was born out of a need to track and engage with children with chronic diseases. Data on kids with chronic diseases is a valuable input for future treatment. Unfortunately, this data is hard to collect because often kids aren’t motivated and parents must take time out of their day to help facilitate record keeping.
        </p>
        <br>
        <p>
            The version here is meant as a proof-of-concept for future releases.
        </p>
    </div>
</div>
{% endblock %}
