{% extends "player_base.html" %}

{% block head %}
    {{ super() }}
    <style>
        #question-pane {
            background: rgba(255, 255, 255, 0.5);
            padding: 20px;
            border-radius: 5px;
            margin-right: 40px;
        }
        #box {
            background: rgb(189, 226, 255);
            border-radius: 5px solid blue;
            border-radius: 5px;
            padding-top: 30px;
            margin-top: 10px;
        }
    </style>

{% endblock %}

{% block body %}

<div class="row" id="box">
    <div class='span6'>
        <h1>Welcome, {{ name }}!</h1>
        <canvas id='doubleyou-avatar'></canvas>
    </div>
    <div class="span6">
        <h3>You've answered <span id='answer_count'>{{ answer_count }}</span> questions!</h3>
        <div id='question-pane'>
            <script id='question-template' type='text/x-handlebars-template'>
                {% raw %}
                <form id='question-form'>
                    <legend>{{prompt}}</legend>
                    <label class='radio'>
                        <input type='radio' name='{{question_id}}' value='0'>
                        {{response_0}}
                    </label>

                    <label class='radio'>
                        <input type='radio' name='{{question_id}}' value='1'>
                        {{response_1}}
                    </label>

                    <label class='radio'>
                        <input type='radio' name='{{question_id}}' value='2'>
                        {{response_2}}
                    </label>

                    <label class='radio'>
                        <input type='radio' name='{{question_id}}' value='3'>
                        {{response_3}}
                    </label>

                    <a class='btn' id='question-submit'>Submit</a>
                </form>
                {% endraw %}
            </script>
        </div>

    </div>

</div>
{% endblock %}

{% block js %}
{{ super() }}

<script src="{{ url_for('static', filename='js/date.js') }}"></script>
<script src="{{ url_for('static', filename='js/avatar.js') }}"></script>

<script>
    $(function() {

        var source = $('#question-template').html();
        var question_template = Handlebars.compile(source);

        // get a question
        var get_question = function() {
            $.get('/api/players/{{ name }}/questions', function(data) {
                question_form = question_template(data);
                $('#question-pane').html(question_form);

                $('#question-submit').click(function() {
                    $.post('/api/players/{{ name }}/answers'
                        , {
                            question_id: data.question_id
                            , response: $('form input[type=radio]:checked').val()
                        }
                        , function(data) {
                            $('#answer_count').html(data.answer_count);
                            get_question();
                        }
                    );
                });
            });
        };

        // onload, get a new question
        get_question();

    });
</script>

{% endblock %}
